$black: #292929;

body {
	overflow-x: hidden;
}

.elegante {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.4em;
	letter-spacing: -.66px;
	font-family: 'oswald';
	text-transform: lowercase;
	color: #D10D43;

	transition: all 150ms ease-in-out;
}

.heading {
	animation-timing-function: cubic-bezier(.25,.46,.45,.94);
	animation-name: AuxFadeIn;
	margin-bottom: 75px;

	h5, p {
		text-transform: uppercase;
		color: $black;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	h5 {
		font-size: 40px;
		font-weight: 700;
		line-height: 1.5em;
		margin-bottom: 6px;
		font-family: "oswald";

		@media (max-width: 767px) {
			font-size: 35px;
    		letter-spacing: -.4px;
		}
	}

	p {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.4em;
		letter-spacing: 3.5px;
		font-family: 'montserrat';

		@media (max-width: 767px) {
			line-height: 1.8em;
		}
	}
}

img {
	height: auto;
	max-width: 100%;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.outlined-input {
	font-size: 15px;
	font-weight: 700;
	text-transform: capitalize;
	font-style: normal;
	color: #fff;
	border-style: solid;
	border-width: 0 0 2px;
	border-color: #fff;
	padding: 0 0 21px;
	transition: all ease-out .3s;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	background: 0 0;
	@apply outline-none focus:outline-none active:outline-none;

	&::placeholder {
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
}

.link-button-dark,
.link-button {
	font-family: 'poppins';
	font-size: 15px;
	font-weight: 300;
	line-height: 1.3em;
	letter-spacing: 3px;
	color: #fff;
	padding: 5px;
	
	svg {
		margin-left: 5px;
		display: inline-block;
		@apply transition-all duration-300 ease-in-out;
	}

	&:hover {
		svg {
			@apply scale-125;
		}
	}
}

.link-button-dark {
	color: $black;
}

.outlined-btn {
	padding: 12px 30px;
	background-color: #fff;
	text-shadow: 0 0 0 rgba(0,0,0,.3);
	text-transform: uppercase;
	border-radius: 100em;
	font-size: 11px;
  	font-weight: 700;
	line-height: 17px;
	color: $black;
	font-family: 'poppins';
	border: 1px solid $black;
	position: relative;
	transition: background-color .45s cubic-bezier(.75,.1,.25,.9), color .45s cubic-bezier(.75,.1,.25,.9);

	&:hover {
		color: #fff;
		background-color: $black;
	}
}

.card-title,
.card-subtitle {
	font-family: 'oswald';
	color: $black;
	text-transform: uppercase;
}

.card-title {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.6em;

	@media (max-width: 1185px) {
		font-size: 25px;
	}
}

.card-subtitle {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.3em;

	@media (max-width: 1185px) {
		font-size: 30px;
	}
}

.max-w-container {
	@apply max-w-[85.5rem] mx-auto px-7;
}

.hero {	
	background-image: url("../../public/images/orange-cover.jpg");
	border-radius: 20px;
	width: 100%;
	min-height: 28rem;
	position: relative;
	margin-top: 10rem;

	animation-timing-function: cubic-bezier(.165,.84,.44,1);
	animation-name: AuxScaleDown;
	animation-duration: 1s;
	animation-fill-mode: both;
	opacity: 0;

	.container {
		width: auto;

		.heading {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 100px;
			z-index: 20;

			animation-duration: 2500ms;
			animation-delay: 800ms;
			animation-timing-function: cubic-bezier(.165,.84,.44,1);
			animation-name: AuxFadeInLeft2Heading;
			opacity: 1;
			animation-fill-mode: both;

			h3 {
				font-size: 60px;
				font-weight: 300;
				text-transform: uppercase;
				line-height: 1.2em;
				color: #fff;
				margin: 0;
			}
			
			h3, h5 {
				font-family: 'oswald';
			}

			h5 {
				font-size: 80px;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 1.4em;
				color: #fff;
				margin: 0;
			}

			.text-button {
				margin-top: 20px;
			}

			@media (max-width: 950px) {
				left: 50px;

				h3 {
					font-size: 40px;
				}

				h5 {
					font-size: 60px;
				}
			}

			@media (max-width: 500px) {
				left: 30px;

				h5 {
					font-size: 50px;
				}
			}
		}

		.images {
			width: 100%;
			flex-wrap: wrap;
			align-content: flex-start;

			display: flex;
			padding: 11% 0% 0% 9%;

			.front, .back, .ribbon {
				width: auto;
				max-width: auto;
				position: absolute;
				bottom: 0;
				max-width: 100%;
			}

			.front {
				z-index: 10;

				animation-duration: 2500ms;
				animation-delay: 800ms;
				animation-timing-function: cubic-bezier(.165,.84,.44,1);
				animation-name: AuxFadeInRight2;
				opacity: 0;
				animation-fill-mode: both;
			}

			.back {
				right: -62%;
				bottom: -2px;
				width: 90%;

				animation-duration: 3000ms;
				animation-delay: 1100ms;
				animation-timing-function: cubic-bezier(.165,.84,.44,1);
				animation-name: AuxFadeInLeft2;
				animation-fill-mode: both;
				opacity: 0;

				@media (min-width: 880px) and (max-width: 1190px) {
					img {
						width: 200px;
					}
				}

				@media (min-width: 644px) and (max-width: 879px) {
					img {
						width: 150px;
					}
				}

				@media (max-width: 644px) {
					bottom: -12px;

					img {
						width: 100px;
					}
				}
			}

			.ribbon {
				right: -180px;
				bottom: -37px;

				animation-duration: 2500ms;
				animation-delay: 1500ms;
				animation-timing-function: cubic-bezier(.165,.84,.44,1);
				animation-name: AuxZoomIn;
				animation-fill-mode: both;
				opacity: 0;
			}
		}
	}

	@media (max-width: 950px) {
		margin-top: 5rem;
	}
}

.featured {
	width: auto;
	display: flex;
	min-width: 100%;
	margin-top: 150px;
	margin-bottom: 150px;
	gap: 50px;

	@media (max-width: 1024px) {
		margin-bottom: 70px;
		margin-top: 70px;
	}

	@media (max-width: 950px) {
		flex-direction: column-reverse;
		align-items: center;
	
		.card-1 {
			height: 30rem;
			width: 100%;
			max-width: 600px;
		}
	}

	.card-1, .card-2 {
		max-height: 100%;

		@media (min-width: 950px) {
			width: 50%;
		}
	}

	.card-1 {
		position: relative;
		background-image: url("../../public/images/gray-cover.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		animation-timing-function: cubic-bezier(.165,.84,.44,1);
		animation-name: AuxFadeInLeft1;
		animation-duration: 1s;
  		animation-fill-mode: both;
		opacity: 0;

		.bg-overlay {
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			position: absolute;
			
			background-image: url("../../public/images/feature-shampoo.png");
			background-position: 200px 0;
			background-repeat: no-repeat;
			background-size: auto;
			opacity: 1;
			
			@media (min-width: 950px) and (max-width: 1024px) {
				background-position: 30px -50px;
			}

			@media (max-width: 950px) {
				background-position: 100px -20px;
			}

			@media (max-width: 531px) {
				background-position: 0px -20px;
			}

			@media (max-width: 426px) {
				background-position: -20px -20px;
			}
		}

		.text {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 100px;

			button {
				margin-top: 20px;
			}

			@media (max-width: 1024px) {
				left: 40px;

				button {
					margin-top: 10px;
				}
			}

			@media (max-width: 950px) {
				left: 100px;
			}

			@media (max-width: 646px) {
				left: 50px;
			}

			@media (max-width: 430px) {
				left: 20px;
			}
		}
	}

	.card-2 {
		display: flex;
		flex-direction: column;

		.necklace, .watch {
			@apply grid grid-cols-2;

			.text {
				padding: 0 20px;
				text-align: center;
				margin: auto;

				button {
					margin-top: 2rem;
				}

				@media (max-width: 1024px) {
					button {
						margin-top: 1.5rem;
					}
				}
			}

			img {
				height: auto;
			}
		}

		@media (max-width: 505px) {
			gap: 50px;

			.necklace, .watch {
				display: flex;
				flex-direction: column;
				gap: 20px;
			}

			.watch {
				flex-direction: column-reverse;
			}
		}

		.necklace {
			animation-delay: .15s;
  			animation-timing-function: cubic-bezier(.165,.84,.44,1);
			animation-name: AuxFadeInUp;
			animation-duration: 1s;
  			animation-fill-mode: both;
			opacity: 0;
			
			button {
				animation-delay: .65s;
  				animation-timing-function: cubic-bezier(.25,.46,.45,.94);
			}
		}

		.watch {
			animation-delay: .3s;
  			animation-timing-function: cubic-bezier(.165,.84,.44,1);
			animation-name: AuxFadeInUp;
			animation-duration: 1s;
  			animation-fill-mode: both;
			opacity: 0;

			button {
				animation-delay: .4s;
			}

			img {
				animation-delay: .7s;
			}
		}
	}

	.card-1,
	.card-1 .bg-overlay,
	.card-2 .necklace img,
	.card-2 .watch img {
		border-radius: 0;
	}
}

.products-list {
	animation-delay: 200ms;
	animation-timing-function: cubic-bezier(.165,.84,.44,1);
	animation-name: AuxFadeInUp;
	animation-duration: 1s;
	animation-fill-mode: both;
	opacity: 0;

	@apply grid grid-cols-1 sm:grid-cols-2;

	@media (min-width: 996px) {
		@apply grid-cols-3;
	}

	@media (min-width: 1200px) {
		@apply grid-cols-4;
	}

	.product {
		padding-bottom: 50px;
		position: relative;
		
		max-width: 315px;
		@apply mx-auto;

		padding-left: 15px;
		padding-right: 15px;
		display: block;
		width: 100%;

		.img-container {
			img {
				border-radius: 20px;
				transition: all .3s !important;
	
				animation-name: AuxFadeInPreloaded;
				animation-duration: 400ms;
				animation-fill-mode: both;
				animation-timing-function: cubic-bezier(.25,.46,.45,.94);
	
				opacity: 1;
			}
	
			.discount-percent {
				position: absolute;
				top: 20px;
				display: flex;
				flex-flow: row-reverse wrap;
				left: 35px;
				right: auto;
	
				width: 60px;
				  height: 60px;
				border-radius: 50%;
				line-height: 60px;
				text-align: center;
				text-transform: uppercase;
				z-index: 1;
				font-size: 12px;
				font-weight: 500;
				letter-spacing: -.6px;
				color: #fff;
				background-color: $black;
	
				justify-content: center;
			}

			.actions {
				position: absolute;
				top: 220px;
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px 0;
				gap: 20px;
				transition: all .3s ease-in-out;
				opacity: 0;

				button {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0;
					min-width: 44px;
					min-height: 44px;
					margin-top: 4px;
					color: $black;

					border-radius: 50px;
					box-shadow: 0px 0px 0px 1px $black;

					font-size: 1.1875em;
				}
			}

			&:hover {
				img {
					box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
				}

				.actions {
					opacity: 1;
				}
			}
		}

		.main {
			margin-top: 22px;
			text-align: center;

			.name, .categories {
				padding: 10px 0;
			}

			.name {
				color: $black;
				font-size: 25px;
				font-weight: 700;
				text-transform: capitalize;
				line-height: 1.3em;
				letter-spacing: 0;

				max-width: 60%;

				font-family: 'oswald';
			}

			.categories {
				font-size: 15px;
				font-weight: 500;
				text-transform: capitalize;
				font-style: normal;
				line-height: 1.5em;
				letter-spacing: 3.75px;

				max-width: 100%;

				> a {
					font-size: .875em;
					color: #bbb;
					letter-spacing: .18em;

					font-weight: 500;
					text-transform: uppercase;
					font-style: normal;
					line-height: 1.5em;

					font-family: 'montserrat';
				}
			}

			.price-container {
				margin-top: 20px;
				font-family: 'montserrat';

				.price {
					padding: .2em .3em;

					font-size: 20px;
					font-weight: 700;
					line-height: 1.3em;
					color: $black;
				}

				.discount-price {
					font-size: 16px;
					color: #d4d4d4;
					margin-left: 5px;
					font-weight: 700;
  					line-height: 1.3em;
					text-decoration: line-through;
				}
			}
		}
	}
}

.testimonies {
	margin-top: 7rem;

	@media (max-width: 767px) {
		margin-top: 5rem;
	}

	.testimony-container {
		width: auto;
		min-width: 100%;
		display: flex;
		gap: 40px;
		padding-bottom: 2rem;
		
		@media (max-width: 1024px) {
			flex-wrap: wrap;
		}

		.testimony {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			width: 100%;
			padding: 46px 55px 33px;
	
			transition: all 400ms ease;
			border-radius: 20px;
			background: #F5f5f5;
			text-align: left;
	
			@media (max-width: 1024px) {
				padding: 35px 35px 30px;
			}

			> p {
				font-size: 15px;
				font-weight: 400;
				text-transform: capitalize;
				line-height: 1.6em;
				letter-spacing: 2.25px;
				color: $black;
				transition: all 400ms ease;
				font-family: 'montserrat';
				padding: 0 0 44px;
				border-bottom: 1px solid rgba(0,0,0,.2);
  				max-width: 690px;
				margin-bottom: 25px;
			}

			.info-box {
				padding-top: 9px;
				transition: all 400ms ease;
				display: table;

				img, .info {
					display: table-cell;
				}

				img {
					width: 67px;
					box-shadow: 0 10px 30px #111f3d33;
					border-radius: 150% 150% 150% 150%;
				}

				.info {
					padding-left: 25px;
  					vertical-align: top;
					transition: all 400ms ease;

					h4 {
						font-size: 20px;
						font-weight: 800;
						line-height: 1.5em;
						color: $black;

						font-family: 'oswald';

						@media (max-width: 1024px) {
							font-size: 18px;
						}
					}

					h5 {
						font-family: 'oswald';
						color: rgba(17,31,61,.6) !important;
						font-size: 14px;
						font-weight: 400;
						line-height: 1.3em;
						margin-bottom: 8px;
						margin-top: 0.2em;

						@media (max-width: 1024px) {
							font-size: 13px;
						}
					}

					.rating-box {
						font-size: 22px;
						display: inline-block;
						line-height: 1;

						&::before {
							content: "\2605\2605\2605\2605\2605";
  							color: #3d3d3d;
						}
					}
				}
			}

			&:hover {
				background-color: $black;
  				box-shadow: 0 30px 40px 0 rgba(0,0,0,.2);

				> p {
					border-color: rgba(255,255,255,.3);
					color: #fff;
				}

				.info-box {
					.info {
						h4, h5, .rating-box::before {
							color: #fff !important;
						}
					}
				}
			}
		}
	}
}

.subscribe {	
	background-image: url("../../public/images/coverblack.jpg");
	border-radius: 20px;
	width: 100%;
	min-height: 36rem;
	position: relative;
	margin-top: 7rem;

	@media (max-width: 767px) {
		min-height: 29rem;
	}

	@media (min-width: 1200px) {
		margin-top: 15rem;
	}
	
	.container {
		width: auto;
		
		.heading {
			position: absolute;
			inset: 0;
			z-index: 20;
			max-width: 370px;
			margin: 0 auto;
			padding: 20px;

			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			animation-duration: 2000ms;
			animation-delay: 500ms;
			animation-timing-function: cubic-bezier(.165,.84,.44,1);
			animation-name: AuxFadeInUp;
			animation-fill-mode: both;
			opacity: 0;

			h3 {
				font-size: 30px;
				font-weight: 300;
				text-transform: uppercase;
				line-height: 1.2em;
				color: #fff;
				margin: 0 0 6px;
			}
			
			h3, h5 {
				font-family: 'oswald';
				text-align: left;
			}

			h5 {
				font-size: 40px;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 1.4em;
				color: #fff;
				margin: 0;

				@media (max-width: 1024px) {
					font-size: 35px;
				}
			}

			input {
				@apply  mt-14 w-full;
			}

			button {
				margin-top: 10px;
				margin-left: auto;
			}
		}

		.image-container {
			width: 100%;
			flex-wrap: wrap;
			align-content: flex-start;

			display: flex;
			padding: 11% 0% 0% 9%;

			.front {
				width: auto;
				position: absolute;
				bottom: 0;
				right: -120px;
				max-width: 100%;

				z-index: 10;

				animation-duration: 400ms;
				animation-delay: 800ms;
				animation-timing-function: cubic-bezier(.165,.84,.44,1);
				animation-name: AuxFadeInRight2;
				opacity: 0;
				animation-fill-mode: both;
			}
		}


		@media (max-width: 767px) {
			.heading {
				h3, h5 {
					text-align: center;
				}
			}

			.image-container {
				display: none;
			}
		}

		@media (min-width: 768px) {
			.heading {
				margin: 0 0 0 50px;
				align-items: start;
				max-width: 420px;
			}

			.image-container {
				.front {
					width: 70%;
				}
			}
		}

		@media (min-width: 1200px) {
			.heading {
				margin-left: 100px;
			}
		}
	}
}

footer {
	p {
		font-size: 15px;
		font-weight: 400;
		line-height: 1.8em;
		letter-spacing: 2.25px;
		animation-delay: 500ms;
		animation-timing-function: cubic-bezier(.25,.46,.45,.94);
		max-width: 630px;
		animation-name: AuxFadeIn;
		animation-duration: 1s;
		animation-fill-mode: both;
		opacity: 0;
		font-family: 'montserrat';
		color: #444;
	}

	a {
		&:hover {
			color: #D10D43;
			transition: all 150ms ease-in-out;
		}
	}

	.main {
		padding: 100px 0 70px;
		width: auto;
  		min-width: 100%;
		display: flex;

		h1 {
			margin-bottom: 20px;
			animation-duration: 2500ms;
			animation-timing-function: cubic-bezier(.77,0,.175,1);
			overflow: hidden;
			opacity: 1;
			animation-fill-mode: both;
			font-family: 'montserrat';

			font-size: 22px;
			font-weight: 700;
			line-height: 1.4em;
			letter-spacing: -.66px;
			color: #292929;
			font-family: 'oswald';
			text-transform: uppercase;
		}

		.info {
			padding: 0 20px 0 0;
			display: flex;
			flex-wrap: wrap;
  			align-content: flex-start;

			h1 {
				text-transform: lowercase;
				color: #D10D43;
			}
		}

		.contact, .quick-links {
			> div {
				p:first-of-type {
					margin-bottom: 0;
				}
			}
		}

		.quick-links {
			a {
				text-transform: uppercase;
			}
		}

		@media (min-width: 768px) {
			.info {
				width: 50%;
			}

			.contact {
				width: 28.928%;
			}

			.quick-links {
				width: 21.094%;
			}
		}

		@media (max-width: 1024px) and (min-width: 768px) {
			.info {
				width: 41%;
			}

			.contact {
				width: 37%;
			}

			.quick-links {
				width: 22%;
			}
		}

		@media (max-width: 767px) {
			.info, .contact, .quick-links {
				width: 100%;
			}

			.info, .contact {
				margin-bottom: 40px;
			}
		}

		@media (max-width: 1024px) {
			flex-wrap: wrap;
		}
	}

	.floor {
		align-content: center;
  		align-items: center;
		justify-content: space-between;
		padding: 45px 0 35px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		gap: 20px;

		border-style: solid;
		border-width: 1px 0 0;
		border-color: rgba(0,0,0,.2);

		.social-links {
			display: flex;
			gap: 25px;
			transition: all 150ms ease-in-out;

			a {
				font-size: 25px;
			}
		}
	}
}

.header .links, 
.mobile-links .links {
	display: flex;
	flex-wrap: wrap;
	
	a {
		padding: 0 25px 0 0;

		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1.4em;
		letter-spacing: 3.5px;
		color: $black;

		font-family: 'montserrat';

		display: flex;
		align-items: center;
		transition: all 150ms ease-in-out;

		&:hover {
			color: #D10D43;

			.count {
				background-color: #D10D43;
			}
		}

		&:not(:last-of-type) {
			border-right: 1px solid $black;
		}

		&:not(:first-of-type) {
			padding-left: 25px;
		}

		svg {
			margin: 0 18px 2px 0;
		}

		.count {
			width: 15px;
			height: 15px;
			color: #fff;
			padding: 18px 17px 18px 20px;
			font-size: 16px;
			font-weight: 400;
			background-color: $black;
			border-radius: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 10px;
			transition: all 150ms ease-in-out;
		}
	}
}

.header {
	padding: 35px 0;
	display: flex;
	width: auto;
	min-width: 100%;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;

	.elegante {
		color: $black;

		&:hover {
			color: #D10D43;
		}
	}

	.toggle-menu {
		display: none;
	}

	.links {
		align-items: center;
	}

	@media (max-width: 650px) {
		&.is-sticky {
			position: fixed;
			z-index: 50;
			top: 0;
			right: 0;
			left: 0;
			padding-left: 1.75rem;
			padding-right: 1.75rem;
		}

		.links {
			display: none;
		}

		.toggle-menu {
			display: block;
			color: $black;
		}
	}
}

.mobile-links {
	position: fixed;
	inset: 0;
	background-color: white;
	z-index: 40;
	
	display: flex;
	align-items: center;
	justify-content: center;

	.links {
		gap: 40px;
		flex-direction: column;
		align-items: center;

		a {
			padding: 0 !important;
			border: 0 !important;
			font-size: 25px;

			&:last-of-type {
				display: flex;
				flex-direction: row-reverse;

				.count {
					margin-left: 0 !important;
					margin-right: 15px;
				}
			}
		}
	}
}

.slide-up {
	width: 35px;
	height: 35px;
	background-color: #fff;
	border-radius: 50%;

	position: fixed;
	right: 2.5%;
	bottom: 65px;

	z-index: 50;

	@media (max-width: 650px) {
		z-index: 40;
	}

	@media (max-width: 900px) {
		right: 4%;
	}

	@media (min-width: 1390px) {
		left: calc((100% + 85.5rem) / 2 - 10px);
		right: auto;
		bottom: 35px;
	}

	box-shadow: 0 0 0 1px #3d3d3d inset;
	transform: translateZ(0);

	.overlay {
		position: absolute;
		width: 105%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) scale(0,0);
		transition: all 500ms cubic-bezier(.77,0,.175,1);

		&::after {
			background-color: #3d3d3d;
			position: relative;
			content: '';
			border-radius: 50%;
			display: block;
			padding-top: 100%;
		}
	}

	.arrow-up {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		transition: all 500ms cubic-bezier(.77,0,.175,1);
	}

	&:hover {
		.overlay {
			transform: translate(-50%,-50%) scale(1,1);
		}

		.arrow-up {
			color: #fff;
		}
	}
}

@keyframes AuxFadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0,27px,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes AuxFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes AuxFadeInPreloaded {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes AuxFadeInLeft1 {
	0% {
 	 	opacity: 0;
		transform: translate3d(-50px,0,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes AuxFadeInRight2 {
	0% {
 	 	opacity: 0;
		transform: translate3d(75px,0,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes AuxFadeInLeft2 {
	0% {
 	 	opacity: 0;
		transform: translate3d(-75px,0,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes AuxFadeInLeft2Heading {
	0% {
 	 	opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(-50%);
	}
}

@keyframes AuxZoomIn {
	0% {
		transform: scale3d(.9,.9,.9);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes AuxScaleDown {
	0% {
		transform: scale(1.1,1.1);
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
